<table id="agenda-items-table" class="highlight">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Location</th>
            <th>Outcome</th>
            <th>Type</th>
            <th>Available Operations</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="agendaItem in agendaItems">
            <td>
                {{agendaItem.Title}}
            </td>
            <td>
                {{agendaItem.Date | date}}
            </td>
            <td>
                {{agendaItem.Location.Name}}
            </td>
            <td>
                <i ng-show="agendaItem.Outcome === null" ng-click="showOutcome(agendaItem.Outcome)" class="material-icons pointer" data-position="right" data-delay="50">lock_outline</i>
                <i ng-show="agendaItem.Outcome !== null" ng-click="showOutcome(agendaItem.Outcome)" class="material-icons pointer" data-position="right" data-delay="50">subject</i>
            </td>
            <td>
                {{agendaItem.VisitType.Type | titlecase}}
            </td>
            <td>
                <i ng-click="editAgendaItem(agendaItem)" class="material-icons modal-trigger pointer left" href="#edit-agendaItem-modal">mode_edit</i>
                <i ng-click="deleteAgendaItem(agendaItem)" class="material-icons pointer">delete</i>  <!--ng-show="showDeleteButton()"-->
            </td>
        </tr>

        <tr ng-show="showAddAgendaItemForm">
            <form>

                <td>
                    <input type="text" ng-model="agendaItemToAdd.Title" />
                </td>
                <td>
                    <input type="datetime-local" ng-model="agendaItemToAdd.Date" />
                </td>
                <td>
                    <select class="browser-default" ng-model="agendaItemToAdd.Location.Id">
                        <option value="" disabled selected>Location</option>
                        <option ng-repeat="location in vm.relatedData.locations" value="{{location.Id}}">{{location.Name | titlecase}}</option>
                    </select>
                </td>
                <td>
                    <input type="text" ng-model="agendaItemToAdd.Outcome" />
                </td>
                <td>
                    <select class="browser-default" ng-model="agendaItemToAdd.VisitType.Id">
                        <option value="" disabled selected>Type</option>
                        <option ng-repeat="type in vm.relatedData.visitTypes" value="{{type.Id}}">{{type.Type | titlecase}}</option>
                    </select>
                </td>
            </form>
        </tr>
    </tbody>
</table>
