<table id="visits-table" class="highlight centered">
    <thead>
        <tr>
            <th data-field="title">Title</th>
            <th data-field="date">Date</th>
            <th data-field="organiser">Organiser</th>
            <th data-field="outcome">Outcome</th>
            <th data-field="type">Agenda Items</th>
            <th data-field="">Available Operations</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="visit in vm.visits">
            <td>
                {{visit.Title}}
            </td>
            <td>
                {{visit.Date | date : 'dd-MMM-yyyy @ HH:mm'}}
            </td>
            <td>
                <a href="mailto:{{visit.EmployeeData.Email}}">{{visit.EmployeeData.FirstName + ' ' + visit.EmployeeData.LastName}}</a>
            </td>
            <td>
                <i ng-click="showOutcome(visit)" ng-show="visit.showOutcomeIcon" class="material-icons pointer">subject</i>
                <i ng-click="showOutcome(visit)" ng-show="!visit.showOutcomeIcon" class="material-icons pointer">lock_outline</i>
            </td>
            <td>
                <i ng-click="openAgendaItemsModal(visit)" ng-open-agenda-items-modal class="material-icons pointer">launch</i>
            </td>
            <td>
                <i ng-click="editVisit(visit)" ng-open-edit-visit-modal class="material-icons pointer left" >mode_edit</i>
                <i ng-click="deleteVisit(visit)" class="material-icons pointer" ng-show="showDeleteButton(visit)">delete</i>
            </td>
        </tr>
    </tbody>
</table>