<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visits Planner</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <link rel="stylesheet" href="css/style.css" type="text/css"/>
</head>
<body ng-app="visitsPlanner">

    <nav ng-controller="loginController">
        <div class="nav-wrapper container">
            <a href="#/" class="brand-logo">Home</a>
            
            <ul class="right hide-on-med-and-down">
                <li ng-hide="logged">
                    <button class="btn modal-trigger waves-effect waves-light" data-target="loginModal">login</button>
                </li>

                <li ng-show="logged" ng-click="logout()" ><a href="#/">Logout, {{user}}</a></li>

            </ul>
        </div>
    </nav>

    <!-- Login Modal -->
    <div  ng-controller="loginController" id="loginModal" class="modal">
        <div class="modal-content">
            <h4>Login</h4>
            <div id="login-div">
                <form method="get" id="login-form" class="col s12">
                    <!-- <input type="text" id="email" name="email" placeholder="Email">
                    <input type="password" id="password" name="password" placeholder="Password"> -->
                    <!-- <input type="submit" id="login" value="Log In"> asta trimite userul si parola prin GET/URL-->
                    <!-- <input type="button" id="login" value="Log In"> -->

                    <!-- <div class="col l3 "></div> -->

                    <div class="row">
                        <div class="input-field col s12">
                            <label for="email">Email</label>
                            <input ng-model="email" id="email" type="text" class="validate">
                        </div>
                        <div class="input-field col s12">
                            <label for="password">Last Name</label>
                            <input ng-model="password" id="password" type="password" class="validate">
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <!-- <div class="row"> -->

            <!-- <div class="col s12"> -->
                <button ng-click="login()" class="btn waves-effect waves-light" type="button" name="action">Login
                    <i class="material-icons right">send</i>
                </button>
            <!-- </div> -->
            <!-- </div> -->
        </div>
    </div>


    <!-- Angular VIEW -->
    <div class="container">
        <section class="first-row">
            <div class="row" ng-view>
            </div>
        </section>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.6/angular-route.min.js"></script>
    <script src="https://code.angularjs.org/1.5.6/angular-resource.min.js"></script>
    <script src="https://code.angularjs.org/1.5.6/angular-sanitize.min.js"></script> -->

    <script type="text/javascript" src="js/angular/angular.js"></script>
    <script type="text/javascript" src="js/angular/angular-resource.js"></script>
    <script type="text/javascript" src="js/angular/angular-route.js"></script>
    <script type="text/javascript" src="js/angular/angular-sanitize.js"></script>

    <script type="text/javascript" src="js/app.js"></script>

    <script type="text/javascript" src="js/controllers/homeController.js"></script>
    <script type="text/javascript" src="js/controllers/visitsController.js"></script>
    <script type="text/javascript" src="js/controllers/loginController.js"></script>
    <script type="text/javascript" src="js/controllers/addVisitController.js"></script>

    <script type="text/javascript" src="js/directives.js"></script>
    <script type="text/javascript" src="js/services/loginService.js"></script>
    <script type="text/javascript" src="js/services/visitsService.js"></script>
    <script type="text/javascript" src="js/services/employeesService.js"></script>
    <script type="text/javascript" src="js/services/agendaItemsService.js"></script>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.1.9/angular-materialize.min.js"></script>


</body>
</html>
