input {
    display: block;
}

#hello {
  display: none;
}

.first-row {
    margin: 45px auto;
    text-align: center;
}

.first-row div a{
    margin: 0px 20px;
}

#loading-animation {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
}

tr {
    cursor: default;
}
.pointer {
    cursor:pointer;
}

.visit-title{
    font-weight: bold;
}
